#!/usr/bin/make -f

%:
	dh $@  --with=systemd

override_dh_install:
	dh_install
	sed -i -e 's/..\//.\//g' debian/vendorzone/usr/share/vendorzone/about.php
	sed -i -e 's/..\/vendor/\/var\/lib\/vendorzone/g' debian/vendorzone/usr/share/vendorzone/includes/Init.php
	sed -i -e 's/..\/i18n/\/usr\/share\/locale/g' debian/vendorzone/usr/share/vendorzone/includes/Init.php
	./debian/fixversion.sh
